<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Final_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Final_Project.Properties.Settings.DiagnosesCenterDBConnectionString"
            connectionString="Data Source=DESKTOP-AI4OE3P\SQLEXPRESS;Initial Catalog=DiagnosesCenterDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Final_Project.Properties.Settings>
            <setting name="Select" serializeAs="String">
                <value />
            </setting>
        </Final_Project.Properties.Settings>
    </userSettings>
  <!--<connectionStrings>
    <add name="DiagnosesCenterDB" connectionString="server=DESKTOP-AI4OE3P\SQLEXPRESS;database=DiagnosesCenterDB;Integrated Security=True;"/>
  </connectionStrings>-->
</configuration>